<div>
  {% for topic in include.topics %}
    {% case topic %}
      {% when "Python" %}
        <i class="fab fa-python" title="Python"></i>
      {% when "Scratch" %}
        <i class="fab fa-github-alt" title="Scratch"></i>
      {% when "JavaScript" %}
        <i class="fab fa-js-square" title="JavaScript"></i>
      {% when "HTML" %}
        <i class="fab fa-html5" title="HTML"></i>
      {% when "PHP" %}
        <i class="fab fa-php" title="PHP"></i>
      {% when "App Inventor" %}
        <i class="fab fa-android" title="App Inventor"></i>
      {% when "Arduino" %}
        <i class="fas fa-microchip" title="Arduino"></i>
      {% when "Raspberry Pi" %}
        <i class="fab fa-raspberry-pi" title="Raspberry Pi"></i> 
    {% endcase %}
  {% endfor %}
</div>