{% assign all_topics = include.activities | map: "topics" | uniq %}

<label for="topic-select">Topic:</label>
<select id="topic-select">
  <option value="">All</option>
  {% for topic in all_topics %}
    <option value={{ topic }}>{{ topic }}</option>
  {% endfor %}
</select>

<script>
  const topicSelect = document.getElementById("topic-select");
  topicSelect.oninput = ({ target }) => {
    const topic = target.value;
    const cards = Array.from(document.getElementsByClassName("activity-card"));

    cards.forEach(card => {
      const { topics } = card.dataset;

      if (topic && !topics.includes(topic)) {
        card.style.display = "none";
      } else {
        card.style.display = "block";
      }
    });
  }
</script>